// Instancia de variables globales
@use 'styles/variables' as *;

.header {
  color: $color-black;
  background-color: $color-white;

  // ── Contenedor ───────────────────────────────────────────
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  // ── Logo ─────────────────────────────────────────────────
  &__logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    img {
      width: 30px;
    }
  }

  &__logo-name {
    margin-left: 0.75rem;
    font-size: 1.25rem;
  }

  // ── Nav ──────────────────────────────────────────────────
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    @media (min-width: 768px) {
      margin-left: auto;
    }
  }

  &__nav-link {
    margin-right: 1.25rem;
    color: $color-black;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  // ── Botón ────────────────────────────────────────────────
  &__btn {
    display: inline-flex;
    align-items: center;
    background-color: $color-primary;
    border: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $color-black;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease;

    @media (min-width: 768px) {
      margin-top: 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #ffa39b;
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
    }
  }
}